// Variables
@import "variables";

// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

// Light Sliders
@import "lightslider/dist/css/lightslider.min.css";

@media screen and (max-width: 1600px) {
    .container {
        max-width: 100%;
    }
}

.main-header {
    z-index: 100;
}
header {
    padding: 10px 0;
    .header-part {
        display: flex;
        align-items: center;

        .logo img {
            max-height: 50px;
        }

        .search-bar {
            margin: 0 20px;
            display: flex;
            flex-grow: 1;
            border-radius: 8px;

            label {
                padding: 10px;
            }

            .form-control {
                background-color: transparent;
                padding: 0;
                padding-right: 10px;

                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }
        }

        .cart-btn {
            line-height: 100%;
            text-align: left;
            small {
                font-size: 12px;
            }
        }
    }
}

.main-navbar {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    text-transform: uppercase;
    justify-content: center;

    & > li {
        position: relative;

        a {
            display: block;
            text-decoration: none;
            color: $white;
            font-weight: bold;
            padding: 10px 30px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        & > ul {
            position: absolute;
            background-color: $dark;
            display: none;
            min-width: 100%;
            max-height: 300px;
            overflow: auto;
            left: 50%;
            transform: translateX(-50%);


            li {
                a {
                    white-space: nowrap;
                    padding: 5px 30px;
                    text-transform: capitalize;
                }
            }

            
            & > li {
                padding: 5px 30px;
                & > a {
                    border-bottom: 1px solid $primary;
                }
                a {
                    padding: 5px 0px;

                    &:hover {
                        color: $primary;
                    }
                }
                li > a{
                    font-size: 12px;
                    font-weight: 300;
                }
                
            }
        }

        &:hover {
            a {
                background-color: $dark;
            }
            & > ul {
                display: flex;
            }
        }
    }
}

.slider-section {
    padding-bottom: 50px;

    .carousel-inner {
        border-radius: 20px;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .carousel-indicators {
        bottom: -50px;

        [data-bs-target] {
            background-color: $primary;
        }
    }
}

.home-title {
    color: $primary;
    font-weight: bold;
    padding: 5px 0;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        width: 100px;
        bottom: 0px;
        left: 0px;
        height: 3px;
        background-color: $primary;
    }

    &.text-center:after {
        left: 50%;
        transform: translateX(-50%);
    }
}

.light-slider {
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        // border-radius: 15px;
    }
}

.lSSlideOuter .lSPager.lSpg > li {
    a {
        background-color: $light;
    }
    &:hover a {
        background-color: $primary;
    }
}
.lSSlideOuter .lSPager.lSpg > li.active a {
    position: relative;
    background-color: $white;
    transform: scale(1.8);
    border: 2px solid $primary;
}

.lSAction > a {
    background-image: url("../images/controls.png");
}

.popular-searches-section {
    a {
        display: inline-block;
        padding: 2px 10px;
        border-radius: 50px;
        text-decoration: none;
        border: 1px solid $primary;
        margin-bottom: 5px;
        font-size: 12px;

        &:hover {
            border-color: $dark;
            color: $dark;
        }
    }
}

.social-links {
    font-size: 18px;

    a {
        text-decoration: none;
        margin-right: 15px;
    }
}

footer {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        a {
            text-decoration: none;
            color: $light;

            &:hover {
                color: $primary;
            }
        }
    }
}


.product-box {
    position: relative;

    & > a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.image-div{
    img{
        width: 100%;
        height: 450px;
        object-fit: cover;
    }
}
.f-16 {
    font-size: 18px;
}
.titleDiv {
    h1 {
        font-weight: 600;
    }
}
.btn.btn-clean-dark {
    background-color: transparent;
    border-color: rgba(58,61,69,.5);

    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    padding: 12px 50px;
    &:hover {
        background-color: #3a3d45;
        color: white
    }
}
.btn.btn-bulk-dark {
    background-color: transparent;
    border-color: rgba(58,61,69,.5);

    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    padding: 5px 10px;
    &:hover {
        background-color: #3a3d45;
        color: white
    }
}
.btn.btn-clean-yellow {
    color: white;
    background-color: #fb0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    padding: 12px 50px;
    &:hover {
        background-color: #3a3d45;
        color: white
    }
}

.mySwiper2 {
    img {
        height: 455px;
        width: 100%;
    }
}
.mySwiper1 {
    img {
        width: 100%;
        height: 100px;
        object-fit: contain;
    }
}
.star-rating {
    background-color: #777777;
    color: white;
    font-size: 10px;
    border-radius: 12px;
    padding: 3px 7px;
    font-weight: 400;
}
.addWishList {
    text-decoration: none;
    color: #212529;
    cursor: pointer;
}
.viewPlan {
    text-decoration: none;
    cursor: pointer;
    color: #fb0;
}
